

.selections {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 75vh;
}

.humanscore {
  color: blue;
}

.puterscore {
  color: red;
}

.selection1, .selection2, .selection3 {
  display: flex;
  justify-content: center;
  
}

body {
  text-align: center;
  font-family: 'Bebas Neue';;
  font-size: 2vw;
  margin-top: 5%;
}

.rock, .paper, .scissors {
  transition:all 0.2s;
}

.clicked {
  transform:scale(1.3);
}